<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">One website, one app, one network, one dashboard, one database.<br>
                All in a ready to go kit to empower your community!</h3>
                <hr class="light">
                <p class="text-faded">Public Health Empowerment Tool Kit is definitely what you need to empower a community!<br>Everything on PHETOOLKIT is open source,<br> free to download, easy to use, and ready for further development!</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
