<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/portfolio/results.jpg" class="img-responsive" alt="">
                <h2 class="section-heading">Power to the people</h2>
                <hr class="light">
                <p class="text-faded">Public Health Empowerment Tool Kit has everything you need to empower people! All of the templates and files on PHETOOLKIT are open source, free to download, and easy to use. Feel free to print it and take it with you!</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
