<center>
    Develop a version in your own language by the <a href="https://github.com/phetoolkit/Myanmar-Web-Font">Mynamar web font repository</a>
    <br>
    <style>
@font-face {
font-family:'Zawgyi-One';
src: url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/6cf1262f/zawgyi.ttf') format('woff'), url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/6cf1262f/zawgyi.ttf') format('ttf');
}
 @font-face {
font-family:'Unicode';
src: url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/6cf1262f/mon3.woff') format('woff'), url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/6cf1262f/mon3.ttf') format('ttf');
}
</style>
<h1 style='font-family:Zawgyi-One;'> မဂၤလာပါ ျမန္မာ ။ ေဇာ္ဂ်ီေဖာင့္ျဖစ္ပါတယ္ </h1>
<h1 style='font-family:Unicode;'> မင်္ဂလာပါ မြန်မာ ။ ယူနီကုဒ် ဖောင့်ဖြစ်ပါတယ် </h1><section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? <br>That's great! <br>Send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="http://www.360.unipr.it/{{ www.360.unipr.it/ }}">
                <i class="fa fa-eye fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ www.360.unipr.it }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:monaco.federico@gmail.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                <p>{{ monaco.federico@gmail.com }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/phetoolkit{{ https://github.com/phetoolkit }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ https://github.com/phetoolkit }}</p>
            </a>
        </div>

    </div>
</section>
